QFrame#frm_service_panel0 {
    border: 1px solid black;
    border-radius: 4px;
    padding: 0px;
    background-color: #24a0a7;
}
QFrame#frm_service_panel1 {
    border: 1px solid black;
    border-radius: 4px;
    padding: 0px;
    background-color: #08c29d;
}
QFrame#frm_service_panel2 {
    border: 1px solid black;
    border-radius: 4px;
    padding: 0px;
    background-color: #4ed07a;
}
QFrame#frm_service_panel3 {
    border: 1px solid black;
    border-radius: 4px;
    padding: 0px;
    background-color: #eede78;
}
QFrame#frm_service_panel4 {
    border: 1px solid black;
    border-radius: 4px;
    padding: 0px;
    background-color: #ee7878;
}

QFrame#frm_service_panel5 {
    border: 1px solid black;
    border-radius: 4px;
    padding: 0px;
    background-color: #0d4946;
}

QFrame#frm_service_panel6 {
    border: 1px solid black;
    border-radius: 4px;
    padding: 0px;
    background-color: #226c51;
}

QFrame#frm_service_panel7 {
    border: 1px solid black;
    border-radius: 4px;
    padding: 0px;
    background-color: #ff914d;
}

QFrame#frm_service_panel8 {
    border: 1px solid black;
    border-radius: 4px;
    padding: 0px;
    background-color: #aa3232;
}
QFrame#frm_service_panel9 {
    border: 1px solid black;
    border-radius: 4px;
    padding: 0px;
    background-color: #6d6d6d;
}
QFrame#frm_service_panel10 {
    border: 1px solid black;
    border-radius: 4px;
    padding: 0px;
    background-color: #962D3E;
}
QFrame#frm_service_panel11 {
    border: 1px solid black;
    border-radius: 4px;
    padding: 0px;
    background-color: #979C9C;
}
QFrame#frm_service_panel12 {
    border: 1px solid black;
    border-radius: 4px;
    padding: 0px;
    background-color: #348899;
}
QFrame#frm_service_panel13 {
    border: 1px solid black;
    border-radius: 4px;
    padding: 0px;
    background-color: #88F7E2;
}
QFrame#frm_service_panel14 {
    border: 1px solid black;
    border-radius: 4px;
    padding: 0px;
    background-color: #44D492;
}
QFrame#frm_service_panel15 {
    border: 1px solid black;
    border-radius: 4px;
    padding: 0px;
    background-color: #F5EB67;
}
QFrame#frm_service_panel16 {
    border: 1px solid black;
    border-radius: 4px;
    padding: 0px;
    background-color: #FFA15C;
}
QFrame#frm_service_panel17 {
    border: 1px solid black;
    border-radius: 4px;
    padding: 0px;
    background-color: #FA233E;
}
